@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body{
    /*background-color: #FFE5D9;*/
    background-color: #FFF4F3;
}
/*login page*/
.login-heading{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'DM Sans';
    color: #007D6C;
}
.login-form{
    background-color: #E3664E;
    margin-top: 0;
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
}
.login-email-input{
    margin-top: 0em;
    color: white;
}
.login-email-label{
    margin-top: 1em;
    color: white;
}
.btn-login{
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #007D6C;
    color: white;
    font-family: poppins;
    font-size: 20px;
}
label{
    font-family: poppins;
    font-size: 24px;
}
.auth-link {
    color: white;
    font-family: poppins;
    font-size: 20px;
}
.auth-link a{
    color: #005F50;
}

.login-email-label{
    margin-bottom: 0em;
    color: white;
}
.login-pass-label{
    margin-bottom: 0em;
    color: white;
}
.form-control {
    border: 1.5px solid #007D6C;
}

/*index page*/
.navbar{
    background-color: #007D6C;
}
.navbar-brand{
    color: white;
}
.lhc-nav{
    width: 100%;
}
.navbar-search-input{
    display: inline-block;
    width: 100%;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.carousel-item{
    height: 500px;
}
.carousel-indicators{
    background-color: #E3664E;
    opacity: 80%;
}
.index-heading{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.card-style{
    width: 22.22%;
    height: 300px;
}

/*search result page*/
.search-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 0px;
}

.card-title h3{
    text-transform: uppercase;
    font-size: .8rem;
}

/*dashboard page*/
.dashboard-email-label{
    color: black;
}
.dashboard-pass-label{
    color: black;
}
.dashboard-username-heading{
    font-family: poppins;
    font-size: 24px;
}
.btn-dashboard{
    color: white;
    font-family: poppins;
    font-size: 20px;
}

.btn-dashboard-cancel {
    background-color: #F03E31;
}

.btn-dashboard-save {
    background-color: #007D6C;
}
