@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body{
    /*background-color: #FFE5D9;*/
    background-color: #A1EEBD;
}
/*login and register page */
.login-register-heading{
    font-family: 'DM Sans';
    color: #2D3035;
}
.login-register-homelink{
    text-decoration: underline;
    color: #2D3035;
}
.login-register-form{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #88cba1;
    box-shadow: 0px 5px 15px #538265b9;
}
.login-register-labels{
    font-family: "poppins";
    color: #2D3035;
}
.login-register-input{
    color: black;
    border: 1px solid #2D3035;
}
.btn-login{
    background-color: #5FBDFF;
    color: #ffffff;
    font-family: poppins;
    font-size: 20px;
}
.btn-login:hover{
    background-color: #50b2f9;
    color: #ffffff;
}
label{
    font-family: poppins;
    font-size: 24px;
}
/* navbar */
.navbar{
    background-color: #2D3035;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    text-decoration: underline;
    color: white;
}
.lhc-nav{
    font-family: 'DM Sans';
    width: 100%;
}
.navbar-search-input{
    display: inline-block;
    width: 100%;
}
.nav-search-btn{
    background-color: #5FBDFF;
    
    font-family: poppins;  
}
.nav-search-btn:hover{
    background-color: #50b2f9;
    
    font-family: poppins;  
}
.nav-link{
    font-family: poppins;
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.878);
}
.vr{
    background-color: white;
    color: white;
}
.nav-dropdown-btn{
    background-color: #5FBDFF;
}
.nav-dropdown-btn:hover{
    background-color: #50b2f9;
}
.nav-dropdown-btn:focus{
    background-color: #50b2f9;
}
.navbar-toggler{
    background-color: white;
}
/* index page */
.carousel-item{
    height: 500px;
}
.carousel-indicators{
    background-color: #E3664E;
    opacity: 80%;
}
.index-heading{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.card-style{
    width: 22.22%;
    height: 300px;
}

/*search result page*/
.search-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 0px;
}

.card-title h3{
    text-transform: uppercase;
    font-size: .8rem;
}

/*profile page*/
.dashboard-email-label{
    color: black;
}
.dashboard-pass-label{
    color: black;
}
.dashboard-username-heading{
    font-family: poppins;
    font-size: 24px;
}
.btn-dashboard{
    color: white;
    font-family: poppins;
    font-size: 20px;
}

.btn-dashboard-cancel {
    background-color: #F03E31;
}

.btn-dashboard-save {
    background-color: #007D6C;
}

@media only screen and (max-width: 576px) {
    /*login page*/
    label{
        font-size: 18px;
    }
    .navbar-search-btn{
        font-size: 14px;        
    }
}
