
body{
    /*background-color: #FFE5D9;*/
    background-color: #FFF4F3;
}
/*login page*/
.login-heading{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'DM Sans';
    color: #007D6C;
}
.login-form{
    background-color: #E3664E;
    margin-top: 0;
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
}
.login-email-input{
    margin-top: 0em;
}
.login-email-label{
    margin-top: 1em;
}
.btn-login{
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #007D6C;
    color: white;
    font-family: poppins;
    font-size: 20px;
}
label{
    color: white;
    font-family: poppins;
    font-size: 24px;
}
.login-email-label{
    margin-bottom: 0em;
}
.login-pass-label{
    margin-bottom: 0em;
}

/*index page*/
.navbar{
    background-color: #007D6C;
}
.navbar-brand{
    color: white;
}
.lhc-nav{
    width: 100%;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.carousel-item{
    height: 500px;
}
.carousel-indicators{
    background-color: #E3664E;
    opacity: 80%;
}
